.RecipeDetail section[role=main] {
    -ms-grid-row: 1;
    -ms-grid-row-span: 2;
    overflow-x: auto;
}

.RecipeDetail .MaingroupDiv {
    width: 100%;
    height: 100%;
    -ms-grid-columns: 1200px 0px auto 50px auto 1fr;
    -ms-grid-rows: 1fr;
    display: -ms-grid;

}

.RecipeDetail .MaingroupDiv .ImageBanner {
        height: 100%;
        -ms-grid-column: 1;
        -ms-grid-rows: 1fr;
        background-size: cover;
        float: left;
		background-image:url(../../images/RecipeDetail/RecipedetailBigImage.jpg);

    }
	

.RecipeDetail .BlackBanner {
    width: 320px;
    height: 550px;
    margin: 120px 0px 0px 120px;
    float: left;
}

.RecipeDetail .BlackInnerBanner {
    width: 317px;
    height: 440px;
    background: #000;
    margin: 0px 0px 0px 0px;
    float: left;
}

.RecipeDetail .BlackTopTex {
    width: auto;
    height: auto;
    font-size: 24px;
    line-height: 28px;
    font-weight: bolder;
    color: #fff;
    margin: 10px 0px 8px 15px;
    float: left;
}

.RecipeDetail .BlackDetailInner {
    width: 300px;
    height: auto;
    margin: 10px 0px 0px 10px;
    float: left;
}

.RecipeDetail .BlackDetailBox {
    width: 300px;
    height: 30px;
    margin: 0px 0px 5px 0px;
    border-bottom: 1px solid #333333;
    float: left;
}

.RecipeDetail .BlackStartext {
    width: auto;
    height: auto;
    font-size: 16px;
    font-weight: lighter;
    color: #fff;
    margin: 0px 5px 0px 0px;
    float: right;
}

.RecipeDetail .Blacktitle {
    width: auto;
    height: auto;
    font-size: 16px;
    font-weight: lighter;
    color: #fff;
    margin: 0px 0px 0px 10px;
    float: left;
}

.RecipeDetail .Blacksubtitle {
    width: auto;
    height: auto;
    font-size: 16px;
    font-weight: lighter;
    color: #888888;
    margin: 0px 5px 0px 0px;
    float: right;
}

.RecipeDetail .TabBanner {
    width: 320px;
    height: auto;
    margin: 10px 0px 0px 0px;
    float: left;
}

.RecipeDetail .TabIconDiv {
    width: 105px;
    height: 122px;
    margin: 0px 1px 0px 0px;
    float: left;
    background: url(../../images/RecipeDetail/DetailBtnN.png) no-repeat bottom #000;
}

    .RecipeDetail .TabIconDiv:focus {
        width: 105px;
        height: 122px;
        margin: 0px 1px 0px 0px;
        float: left;
        background: url(../../images/RecipeDetail/DetailBtnActv.png) no-repeat;
    }

.RecipeDetail .TabIconDiv2 {
    width: 105px;
    height: 122px;
    margin: 0px 1px 0px 0px;
    float: left;
    background: url(../../images/RecipeDetail/DetailBtnN2.png) no-repeat bottom #000;
}

    .RecipeDetail .TabIconDiv2:focus {
        width: 105px;
        height: 122px;
        margin: 0px 1px 0px 0px;
        float: left;
        background: url(../../images/RecipeDetail/DetailBtnActv3.png) no-repeat;
    }

.RecipeDetail .TabIconDiv3 {
    width: 105px;
    height: 122px;
    margin: 0px 1px 0px 0px;
    float: left;
    background: url(../../images/RecipeDetail/DetailBtnN3.png) no-repeat bottom #000;
}

    .RecipeDetail .TabIconDiv3:focus {
        width: 105px;
        height: 122px;
        margin: 0px 1px 0px 0px;
        float: left;
        background: url(../../images/RecipeDetail/DetailBtnActv2.png) no-repeat;
    }

.RecipeDetail .PlayButt {
    width: 142px;
    height: 144px;
    margin: 365px 0px 0px 200px;
    float: left;
    background: url(../../images/RecipeDetail/PlayVideoBtnBig.png) no-repeat;
}

    .RecipeDetail .PlayButt:active {
        width: 142px;
        height: 144px;
        margin: 365px 0px 0px 200px;
        float: left;
        opacity: 0.5;
        background: url(../../images/RecipeDetail/PlayVideoBtnBig.png) no-repeat;
    }













    /* This selector is used to prevent ui-dark/light.css from overwriting changes
       to .win-surface. */
    /*.RecipeDetail .groupeditemslist .win-horizontal.win-viewport .win-surface {
        margin-bottom: 60px;
        margin-left: 0px;
        margin-right: 115px;
        margin-top: 128px;
    }*/

    .RecipeDetail .groupeditemslist .win-groupheader {
        padding: 0;
    }

    .RecipeDetail .groupeditemslist .group-header {
        -ms-grid-columns: minmax(0, max-content) 7px max-content;
        -ms-grid-rows: max-content;
        display: -ms-inline-grid;
        line-height: 1.5;
    }




    .RecipeDetail .groupeditemslist .item {
        -ms-grid-columns: 1fr;
        -ms-grid-rows: 1fr 90px;
        display: -ms-grid;
        height: 250px;
        width: 250px;
    }

        .RecipeDetail .groupeditemslist .item .item-image {
            -ms-grid-row-span: 2;
        }

        .RecipeDetail .groupeditemslist .item .item-overlay {
            -ms-grid-row: 2;
            -ms-grid-rows: 1fr 21px;
            display: -ms-grid;
            padding: 6px 15px 2px 15px;
        }

            .RecipeDetail .groupeditemslist .item .item-overlay .item-title {
                -ms-grid-row: 1;
                overflow: hidden;
                width: 220px;
            }

            .RecipeDetail .groupeditemslist .item .item-overlay .item-subtitle {
                -ms-grid-row: 2;
                width: 220px;
            }

@media screen and (-ms-view-state: fullscreen-landscape), screen and (-ms-view-state: fullscreen-portrait), screen and (-ms-view-state: filled) {
    .RecipeDetail .groupeditemslist .item .item-overlay {
        background: rgba(0,0,0,0.65);
    }

        .RecipeDetail .groupeditemslist .item .item-overlay .item-title {
            color: rgba(255,255,255,0.87);
        }

        .RecipeDetail .groupeditemslist .item .item-overlay .item-subtitle {
            color: rgba(255,255,255,0.6);
        }
}

@media screen and (-ms-view-state: fullscreen-landscape) and (-ms-high-contrast), screen and (-ms-view-state: fullscreen-portrait) and (-ms-high-contrast), screen and (-ms-view-state: filled) and (-ms-high-contrast) {
    .RecipeDetail .groupeditemslist .item .item-overlay {
        color: WindowText;
    }
}

@media screen and (-ms-view-state: snapped) {
    .RecipeDetail section[role=main] {
        -ms-grid-row: 2;
        -ms-grid-row-span: 1;
    }

    .RecipeDetail .groupeditemslist .win-vertical.win-viewport .win-surface {
        margin-bottom: 30px;
        margin-top: 0;
    }

    .RecipeDetail .groupeditemslist .win-container {
        margin-bottom: 15px;
        margin-left: 13px;
        margin-right: 35px;
        padding: 7px;
    }

    .RecipeDetail .groupeditemslist .item {
        -ms-grid-columns: 60px 1fr;
        -ms-grid-rows: 1fr;
        display: -ms-grid;
        height: 60px;
        width: 272px;
    }

        .RecipeDetail .groupeditemslist .item .item-image {
            -ms-grid-column: 1;
            -ms-grid-row-span: 1;
            height: 60px;
            width: 60px;
        }

        .RecipeDetail .groupeditemslist .item .item-overlay {
            -ms-grid-column: 2;
            -ms-grid-row: 1;
            -ms-grid-row-align: stretch;
            background: transparent;
            display: inline-block;
            margin-left: 10px;
            padding: 0;
        }

            .RecipeDetail .groupeditemslist .item .item-overlay .item-title {
                margin-top: 4px;
                max-height: 40px;
                width: 202px;
            }

            .RecipeDetail .groupeditemslist .item .item-overlay .item-subtitle {
                opacity: 0.6;
                width: 202px;
            }
}

@media screen and (-ms-view-state: fullscreen-portrait) {
    .RecipeDetail .groupeditemslist .win-horizontal.win-viewport .win-surface {
        margin-left: 25px;
    }
}





/*
Rating control.
*/
.RecipeDetail .win-rating {
    display: -ms-inline-flexbox;
    height: auto;
    width: auto;
    white-space: normal;
    -ms-flex-align: stretch;
    -ms-flex-pack: center;
}

    .RecipeDetail .win-rating .win-star {
        -ms-flex: 1 1 auto;
        height: 14px;
        width: 14px;
        padding: 0 6px;
        font-family: "Segoe UI Symbol";
        font-size: 14px;
        overflow: hidden;
        text-indent: 0;
        line-height: 1;
        cursor: default;
        position: relative;
        letter-spacing: 0; /* Use letter-spacing: 0 to make average star look like one glyph. */
        -ms-touch-action: none;
    }

    .RecipeDetail .win-rating.win-small .win-star {
        width: 14px;
        height: 14px;
        font-size: 14px;
        padding: 0 3px;
    }

    .RecipeDetail .win-rating .win-star:before {
        content: "\E082";
    }

    .RecipeDetail .win-rating .win-star.win-disabled {
        cursor: default;
        -ms-touch-action: auto;
        color: #fff;
    }

    /*
Rating control colors.
*/
    .RecipeDetail .win-rating .win-star.win-user.win-full,
    .RecipeDetail .win-rating .win-star.win-user.win-full.win-disabled {
    }

    .RecipeDetail .win-rating .win-star.win-tentative.win-full {
        color: #F55D1C;
    }

    .RecipeDetail .win-rating .win-star.win-average.win-full,
    .RecipeDetail .win-rating .win-star.win-average.win-full,
    .RecipeDetail .win-rating .win-star.win-average.win-full.win-disabled {
        color: rgb(255, 255, 255);
    }

    .RecipeDetail .win-rating .win-star.win-empty {
        color: rgba(255, 255, 255, 0.35);
    }

.RecipeDetail .win-ui-light .win-rating .win-star.win-user.win-full,
.RecipeDetail .win-ui-light .win-rating .win-star.win-user.win-full.win-disabled {
    color: rgb(70, 23, 180);
}

.RecipeDetail .win-ui-light .win-rating .win-star.win-tentative.win-full {
    color: rgb(114, 65, 228);
}

.RecipeDetail .win-ui-light .win-rating .win-star.win-average.win-full,
.RecipeDetail .win-ui-light .win-rating .win-star.win-average.win-full.win-disabled {
    color: rgb(0, 0, 0);
}

.RecipeDetail .win-ui-light .win-rating .win-star.win-empty {
    color: rgba(0, 0, 0, 0.35);
}









.RecipeDetail .MaingroupDiv .groupeditemslist {
    height: 100%;
    position: relative;
    -ms-grid-column:3;
    -ms-grid-row:1;
    z-index: 0;
    overflow:hidden;
	background-color:rgba(0,0,0,.7);

}

.RecipeDetail .MaingroupDiv .groupeditemslist .RelatedRecipes {
        -ms-grid-columns: 310px 1fr;
        display: -ms-grid;
        height: 125px;
        width: 485px;
		background-color:transparent;
    }

.RecipeDetail .MaingroupDiv .groupeditemslist .RelatedRecipes .item-image {
        -ms-grid-row:1;
		width:310px;
		Height:123px;
	
    }
	
	
.RecipeDetail .MaingroupDiv .groupeditemslist .RelatedRecipes .PlayBtn {
        -ms-grid-row:1;
		width:32px;
		Height:32px;
		float:right;
		-ms-grid-row-align: end;
		margin-bottom: 12px;
		margin-left: 258px;
    }
	
	

.RecipeDetail .MaingroupDiv .groupeditemslist .RelatedRecipes .title {
        -ms-grid-row: 2;
        font-size: 16px;
        color: #fff;
        font-weight: lighter;
        margin: 0px 0px 0px 10px;
    }

.RecipeDetail .MaingroupDiv .groupeditemslist .RelatedRecipes .item-overlay {
            -ms-grid-column: 2;
            -ms-grid-row:1;
            -ms-grid-row-align: stretch;
            background: transparent;
            display: inline-block;
            padding: 0;
			float:left;
			background-color:transparent;
        }

.RecipeDetail .MaingroupDiv .groupeditemslist .RelatedRecipes .item-overlay .item-title {
                margin-top: 4px;
                width: 145px;
				font-size:16pt;
				font-weight:bold;
				float:left;
				margin-left:10px;
				line-height:1.2;
				color:white;
            }

 .RecipeDetail .MaingroupDiv .groupeditemslist .RelatedRecipes .item-overlay .item-subtitle {
                opacity: 0.6;
                width: 145px;
				margin-left:10px;
				font-size:10pt;
				font-weight:300;
				word-wrap: break-word;
				line-height:1.2;
				color:rgba(255, 255, 255, 0.6);
	
            }
			
.RecipeDetail .groupeditemslist .win-horizontal.win-viewport .win-surface {
        margin-bottom: 60px;
        margin-left: 0px;
        margin-right: 40px;
        margin-top: 120px;
    }

.RecipeDetail .MaingroupDiv .groupeditemslist.win-rtl .win-horizontal.win-viewport .win-surface {
        margin-left: 0px;
        margin-right: 0px;
    }


.RecipeDetail .groupeditemslist1 .win-horizontal.win-viewport .win-surface {
        margin-bottom: 10px;
        margin-left: 0px;
        margin-right: 40px;
        margin-top: 120px;
    }

.RecipeDetail .MaingroupDiv .groupeditemslist1.win-rtl .win-horizontal.win-viewport .win-surface {
        margin-left: 0px;
        margin-right: 0px;
    }	






.RecipeDetail .MaingroupDiv .groupeditemslist1 {
    height: 100%;
    position: relative;
   -ms-grid-column:5;
    z-index: 0;
    overflow:hidden;
	float:left;


}


.RecipeDetail .MaingroupDiv .groupeditemslist1 .Reviews {
        -ms-grid-columns: 1fr;
        display: -ms-grid;
        height: 125px;
        width: 330px;
		background-color:transparent;
    }



.RecipeDetail .MaingroupDiv .groupeditemslist1.win-rtl .win-horizontal.win-viewport .win-surface {
        margin-left: 0px;
        margin-right: 0px;
    }	
	
.RecipeDetail .MaingroupDiv .groupeditemslist1 .Reviews .item-image {
        -ms-grid-row:1;
		width:310px;
		Height:123px;
		-ms-grid-column:2;
	

		
    }

.RecipeDetail .MaingroupDiv .groupeditemslist1 .Reviews .title {
        -ms-grid-row: 2;
        font-size: 16px;
        color: #fff;
        font-weight: lighter;
        margin: 0px 0px 0px 10px;
    }

.RecipeDetail .MaingroupDiv .groupeditemslist1 .Reviews .item-overlay {
            -ms-grid-column: 1;
            -ms-grid-row:1;
            -ms-grid-row-align: stretch;
            background: transparent;
            display: inline-block;
            padding: 0;
			float:left;
			background-color:transparent;

        }

.RecipeDetail .MaingroupDiv .groupeditemslist1 .Reviews .item-overlay .item-title {
                margin-top: 4px;
                width: 300px;
				font-size:16pt;
				font-weight:bold;
				float:left;
				margin-left:10px;
				line-height:1.2;
				color:white;
            }

 .RecipeDetail .MaingroupDiv .groupeditemslist1 .Reviews .item-overlay .item-subtitle {
                opacity: 0.6;
                width: 300px;
				margin-left:10px;
				font-size:11pt;
				font-weight:500;
				word-wrap: break-word;
				line-height:1.2;
				color:rgba(255, 255, 255, 0.55);
	
            }
			
		
			
.RecipeDetail .MaingroupDiv .groupeditemslist1 .Reviews .item-overlay .item-Description {
                opacity: 0.6;
                width: 300px;
				margin-left:10px;
				font-size:10pt;
				font-weight:300;
				word-wrap: break-word;
				line-height:1.2;
				color:rgba(255, 255, 255, 0.53);
				margin-top:0px;
	
 }	
 
 
 
 
 
 .RecipeDetail .groupeditemslist .group-header, .group-header:hover, .group-header:hover:active {
    background: transparent;
    border: 0;
    margin-bottom: 20px;
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 0px;
    min-height: 0;
    padding: 0;
}

.RecipeDetail .groupeditemslist .group-header .group-title {
        display: inline-block;
        color:white;
        font-size:24pt;
        font-weight:800;
    }

.RecipeDetail .groupeditemslist .group-header .group-chevron {
        -ms-grid-column: 3;
        display: inline-block;
        visibility:hidden;

    }

.RecipeDetail .groupeditemslist .group-header .group-chevron::before {
            content: "\E26B";
            font-family: 'Segoe UI Symbol';
        }

		
		
		
 .RecipeDetail .groupeditemslist1 .group-header, .group-header:hover, .group-header:hover:active {
    background: transparent;
    border: 0;
    margin-bottom: 1px;
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 1px;
    min-height: 0;
    padding: 0;
}

.RecipeDetail .groupeditemslist1 .group-header .group-title {
        display: inline-block;
        color:white;
        font-size:24pt;
        font-weight:800;
    }

.RecipeDetail .groupeditemslist1 .group-header .group-chevron {
        -ms-grid-column: 3;
        display: inline-block;
        visibility:hidden;

    }

.RecipeDetail .groupeditemslist1 .group-header .group-chevron::before {
            content: "\E26B";
            font-family: 'Segoe UI Symbol';
        }	
		
		

		/*Grid opacity*/

.RecipeDetail .win-horizontal.win-viewport .win-container {
    background-color: rgba(255, 255, 255, 0.0);
}

.RecipeDetail .win-vertical.win-viewport .win-container {
    background-color: rgba(255, 255, 255, 0.0);
}
	


  .RecipeDetail .groupeditemslist1 .win-groupheader {
        padding: 0;
    }

    .RecipeDetail .groupeditemslist1 .group-header {
        -ms-grid-columns: minmax(0, max-content) 7px max-content;
        -ms-grid-rows: max-content;
        display: -ms-inline-grid;
        line-height: 1.5;
    }
	
	
	
	.RecipeDetail .groupeditemslist1 .win-rating .win-star {
        -ms-flex: 1 1 auto;
        height: 18px;
        width: 18px;
        padding: 0 6px;
        font-family: "Segoe UI Symbol";
        font-size: 18px;
        overflow: hidden;
        text-indent: 0;
        line-height: 1;
        cursor: default;
        position: relative;
        letter-spacing: 0; /* Use letter-spacing: 0 to make average star look like one glyph. */
        -ms-touch-action: none;
    }

	
.RecipeDetail  header[role=banner] .titlearea {
            -ms-grid-column: 2;
            margin-top: 0px;
        }














#TopAppDiv {
    width: 92px;
    height: 93px;
    background: url(../../images/TopAppBarN1.png) no-repeat;
    float: left;
}

    #TopAppDiv:active {
        width: 92px;
        height: 93px;
        background: url(../../images/TopAppBarN1.png) no-repeat;
        float: left;
        opacity: 0.5;
    }

#TopAppDiv2 {
    width: 92px;
    height: 93px;
    background: url(../../images/TopAppBarN2.png) no-repeat;
    float: left;
}

    #TopAppDiv2:active {
        width: 92px;
        height: 93px;
        background: url(../../images/TopAppBarN2.png) no-repeat;
        float: left;
        opacity: 0.5;
    }


#TopAppDiv3 {
    width: 92px;
    height: 93px;
    background: url(../../images/TopAppBarN3.png) no-repeat;
    float: left;
}

    #TopAppDiv3:active {
        width: 92px;
        height: 93px;
        background: url(../../images/TopAppBarN3.png) no-repeat;
        float: left;
        opacity: 0.5;
    }

#TopAppDiv4 {
    width: 92px;
    height: 93px;
    background: url(../../images/TopAppBarN4.png) no-repeat;
    float: left;
}

    #TopAppDiv4:active {
        width: 92px;
        height: 93px;
        background: url(../../images/TopAppBarN4.png) no-repeat;
        float: left;
        opacity: 0.5;
    }

#TopAppDiv5 {
    width: 92px;
    height: 93px;
    background: url(../../images/TopAppBarN5.png) no-repeat;
    float: left;
}

    #TopAppDiv5:active {
        width: 92px;
        height: 93px;
        background: url(../../images/TopAppBarN5.png) no-repeat;
        float: left;
        opacity: 0.5;
    }

#TopAppDiv6 {
    width: 92px;
    height: 93px;
    background: url(../../images/TopAppBarN6.png) no-repeat;
    float: right;
}

    #TopAppDiv6:active {
        width: 92px;
        height: 93px;
        background: url(../../images/TopAppBarN6.png) no-repeat;
        float: right;
        opacity: 0.5;
    }

#TopAppDiv7 {
    width: 92px;
    height: 93px;
    background: url(../../images/TopAppBarN7.png) no-repeat;
    float: right;
}

    #TopAppDiv7:active {
        width: 92px;
        height: 93px;
        background: url(../../images/TopAppBarN7.png) no-repeat;
        float: right;
        opacity: 0.5;
    }




#BottAppDiv1 {
    width: 52px;
    height: 68px;
    background: url(../../images/HubPage/BtmAppBArN.png) no-repeat;
    float: left;
}

#BottAppDiv1:active {
        width: 52px;
        height: 68px;
        background: url(../../images/HubPage/BtmAppBArN.png) no-repeat;
        float: left;
        opacity: 0.5;
    }


 .win-commandicon {
    display: none;
    margin: 0 0px; /* padding for command buttons, 2px/side for focus */
    min-width: 0;
    min-height: 0;
    padding: 0;
    /* Normal sizing */
    width: 53px;
    height: 65px;
    box-sizing: border-box;
    cursor: default;
}
